# See [A collection of useful .gitignore templates](https://github.com/github/gitignore)

# this is external, and is downloaded when required
tts-content.sqlite

# Since we're using devcontainers, don't store any .vscode project settings
.vscode