# See [A collection of useful .gitignore templates](https://github.com/github/gitignore)

# We never store secrets
twitter-credentials.json

# The Makefile generates these when required
doc/schema

# Since we're using devcontainers, don't store any .vscode project settings
.vscode